[submodule "scan_reframer/libraries/eigen"]
	path = scan_reframer/libraries/eigen
	url = https://github.com/libigl/eigen
[submodule "scan_reframer/libraries/span"]
	path = scan_reframer/libraries/span
	url = https://github.com/tcbrindle/span
[submodule "scan_reframer/libraries/rapidjson"]
	path = scan_reframer/libraries/rapidjson
	url = https://github.com/Tencent/rapidjson.git
